  .float{
  position: "floating";
  }

.div-main{
  width: 965px;
}
.div-main-heading{
  text-align: center;
  letter-spacing: 3px;
  word-spacing: 4px;
}
.div-name{
  font-size: 20px;
}

.btn-div{
  margin-left: 500px;
  margin-top:20px;
  width: 0px;
}

.btn{
  text-align: center;
  font-size: 17px;
  width: 170px;
  height: 50px;
  letter-spacing: 4px;
  background-color: blue;
  color: white;
}

.step-title{
  letter-spacing: 1px;
  word-spacing: 1px;
}
.form-field{
  font-size: 17px;
  width: 300px;
}
.dropdown-list{
  font-weight: bold;
  letter-spacing: 1px;
  word-spacing: 2px;
}
ng-select {
  height: 55px;
}

.list-confirmation-txt{
  font-size: 18px;
}


//---------- For Slide Show of Image -----------
.slide {
  height: 400px;
  width: 965px;
  padding: 0px;
  top: 0;
  left: 0;
  object-fit: cover;
  // position: fixed;
  // zoom effect on hover
  transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
  border-radius: 0.5em;
}

.slide:hover {
  transform: scale(1.025);
}

.control {
  border: none;
  background-color: transparent;
  outline: 0; // remove blue outline border, but make sure they are still focussable for accessibility
  position: absolute;
  cursor: pointer;
  // display: flex;
  // flex-direction: column;
  justify-content: center;
  padding: 0.5em;
  color: black;
  font-weight: bold;
  font-size: 3em;
  user-select: none;
  height: 100%;
  opacity: 80%;
  // opacity effect on hover
  transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);

  &:hover, &:focus {
    opacity: 1;
  }

  /* Position the buttons */
  &.next {
    right: 0;
  }
  &.prev {
    left: 0;
  }
}

/* style the arrows */
.arrow {
  display: block;
  border-left: 0.1em solid white;
  border-bottom: 0.1em solid white;
  width: 0.5em;
  height: 0.5em;

  &.left {
    transform: rotate(45deg);
  }
  &.right {
    transform: rotate(225deg);
  }
}
