<div class="container footer" fxLayout="row wrap" fxLayout.lt-md="column"
fxLayoutAlign="space-evenly center">

  <div fxLayout="column" >
    <div style="font-weight: bold;">
      <mat-label>
        Contact Info:
      </mat-label>
    </div>
    <div fxFlexOffset="20px">
      <mat-label>
        <p><i class="fas fa-phone-square-alt"></i> Phone-No : +91 99933-16107</p>
      </mat-label>
      <mat-label>
        <a><i class="fas fa-envelope-square"></i> E-Mail : karigar99@gmail.com</a>
      </mat-label>
      <mat-label>
        <p><i class="fas fa-address-card"></i> Address : </p>
      </mat-label>
    </div>
  </div>

  <div fxLayout="column" >
    <div style="font-weight: bold;">
      <mat-label>
        Working Hours :
      </mat-label>
    </div>
    <div fxFlexOffset="20px">
      <mat-label>
        <p><i class="fas fa-calendar-day size"></i> Mon-Sat : 10:00am - 08:00pm</p>
        <p><i class="fas fa-calendar-day size"></i> Sunday : 10:00am - 06:00pm</p>
      </mat-label>
    </div>
  </div>

  <div fxLayout="column" >
    <div style="font-weight: bold;">
      Resources / Links :
    </div>
    <div fxFlexOffset="20px">
      <a class="anchor">
        Know more about Karigar(For user)
      </a>
      <hr>
      <a class="anchor">
        Know more about Karigar(For Karigar)
      </a>
      <hr>
      <a class="anchor">
        Terms & Conditions
      </a>
      <hr>
      <a class="anchor">
        Privacy Policy
      </a>
      <hr>
      <a class="anchor">
        Refund and Cancellation Policy
      </a>
      <hr>
    </div>
  </div>
  <div fxLayout="column">
    <div style="font-weight: bold;">
      Serving In :
    </div>
      <div fxFlexOffset="20px">
        <mat-label class="anchor"> Dewas </mat-label><hr>
        <mat-label class="anchor"> Indore </mat-label><hr>
        <mat-label class="anchor"> Ujjain </mat-label><hr>
      </div>

  </div>

</div>


<!-- <div style="margin-top: 50px;" >
  <a mat-icon-button class="btn-insta" href=""><i class="fab fa-instagram"></i></a>
  <a mat-icon-button class="btn-facebook" href=""><i class="fab fa-facebook-f"></i></a>
  <a mat-icon-button class="btn-youtube" href=""><i class="fab fa-youtube"></i></a>
</div> -->
