.container{
  margin-top: 50px;
}
.text-heading{
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 3px;
  word-spacing: 3px;

}
.header{
  background-color: rgb(108, 185, 248);
}

.text{
  font-size: 18px;
  color: black;
  letter-spacing: 1px;
  word-spacing: 2px;
}

button{
  color: white;
  background-color: blue;
  font-size: 18px;
  width: 240px;
  text-align: center;
  height: 45px;
  letter-spacing: 2px;
  word-spacing: 3px;
}

.spacer{
  margin-top: 20px;
}
.txt-cardtitle{
  letter-spacing: 2px;
  word-spacing: 3px;
}
