<div class="container" fxLayout="column">
    <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
      <mat-card  style="margin-top: 30px;">
        <mat-toolbar class="header">
          <p class="text-heading">Things to Know</p>
          <span style="margin-left: 15px;" class="material-icons">menu_book</span>
        </mat-toolbar>
        <div style="margin-top: 20px;" fxFlexAlign="space-evenly center">
          <mat-card-title class="txt-cardtitle">
            Our Commitments :
            <div class="spacer">
              <mat-card-subtitle>
                <mat-label class="text">
                  <i class="fas fa-arrow-right"></i>&nbsp;
                  No compromise over Quality Service.
                </mat-label>
            </mat-card-subtitle>

            <mat-card-subtitle>
              <mat-label class="text">
                <i class="fas fa-arrow-right"></i>&nbsp;
                Professionals from your neighbourhood.</mat-label>
            </mat-card-subtitle>

          <mat-card-subtitle>
            <mat-label class="text">
              <i class="fas fa-arrow-right"></i>&nbsp;
              Price decided by mutual consent on-site.</mat-label>
          </mat-card-subtitle>

          <mat-card-subtitle>
            <mat-label class="text">
              <i class="fas fa-arrow-right"></i>&nbsp;
              Flexible timings.
            </mat-label>
          </mat-card-subtitle>
        </div>
          </mat-card-title>
        </div>

        <div style="margin-top: 45px;">
          <mat-card-title class="txt-cardtitle">
            Pricing :
            <div class="spacer">
              <mat-card-subtitle>
                <mat-label class="text">
                  <i class="fas fa-arrow-right"></i>&nbsp;
                  Inspection Charges will be Rs 49/- only.</mat-label>
              </mat-card-subtitle>

              <mat-card-subtitle>
                <mat-label class="text">
                  <i class="fas fa-arrow-right"></i>&nbsp;
                  Inspection Charges i.e Rs 49 will be adjusted in total invoice , if you opt the Service.</mat-label>
              </mat-card-subtitle>

              <mat-card-subtitle>
                <mat-label class="text">
                  <i class="fas fa-arrow-right"></i>&nbsp;
                  It excludes material cost.</mat-label>
              </mat-card-subtitle>
              <mat-card-subtitle>
                <!-- <mat-label class="text">
                  <i class="fas fa-arrow-right"></i>&nbsp;

                </mat-label> -->
              </mat-card-subtitle>
            </div>
          </mat-card-title>
        </div>

        <div fxLayoutAlign="center">
          <mat-card-actions>
            <button mat-raised-button routerLink="../bookservice"> Make Booking</button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
</div>
