<div class="cover">
  <img src="/assets/images/cover.jpg" alt="Logo">
</div>

<div class="container" fxLayoutGap="80px">
  <div fxFlexOffset="145px" fxLayoutAlign="space-evenly center" fxLayoutGap="15px">
    <mat-card class="card1">
      <mat-label>
        <h1> Personal Info :</h1>
      </mat-label>

      <mat-card-content>
        <mat-label class="text">Name : </mat-label> &nbsp;
        <mat-form-field appearance="outline">
          <input matInput type="text" value="Sumukh Khambete" readonly>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content>
        <mat-label class="text">Contact Number : </mat-label> &nbsp;
        <mat-form-field appearance="outline">
          <input matInput type="tel" value="786855655" readonly>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content>
        <mat-label class="text">Service Area : </mat-label> &nbsp;
        <mat-form-field appearance="outline">
          <input matInput type="text" value="Plumber" readonly>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content>
        <mat-label class="text">E-mail : </mat-label> &nbsp;
        <mat-form-field appearance="outline">
          <input matInput type="email" value="sumukhkhambete@gmail.com" readonly>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content>
        <mat-label class="text">Address : </mat-label> &nbsp;
        <mat-form-field appearance="outline">
          <input matInput type="text" value="45A Vikas Nagar" readonly>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content>
        <mat-label class="text">City : </mat-label> &nbsp;
        <mat-form-field appearance="outline">
          <input matInput type="text" value="Dewas" readonly>
        </mat-form-field>
      </mat-card-content>
      <div fxLayoutAlign="end">
        <mat-card-actions>
          <button mat-raised-button>
            Edit
          </button>
          <button mat-raised-button>
            Save
          </button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>

  <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="15px">
    <mat-card class="card2">
      <mat-label>
        <h2> Account Details : </h2>
      </mat-label>
      <div class="scroll">

        <mat-label class="text">Account Number : </mat-label> &nbsp;
        <mat-form-field appearance="outline">
          <input matInput type="text" value="6724667534755">
        </mat-form-field>
        <br>
        <mat-label class="text">IFSC Code : </mat-label> &nbsp;
        <mat-form-field appearance="outline">
          <input matInput type="text" value="BKID000546">
        </mat-form-field>
        <br>
        <mat-label class="text">Aadhar Number : </mat-label> &nbsp;
        <mat-form-field appearance="outline">
          <input matInput type="text" value="6724345345543">
        </mat-form-field>
      </div>
      <div fxLayoutAlign="end">
        <mat-card-actions>
          <button mat-raised-button> Edit </button>
          <button mat-raised-button> Save </button>
        </mat-card-actions>
      </div>
    </mat-card>
    <div>
      <mat-card>
        <h2> Password Settings :</h2>
        <mat-label class="text">Current Password : </mat-label> &nbsp;
        <mat-form-field appearance="outline">
          <input matInput type="password" value="6724345345543">
        </mat-form-field>
        <br>
        <mat-label class="text">New Password : </mat-label> &nbsp;
        <mat-form-field appearance="outline">
          <input matInput type="password" value="6724345345543">
        </mat-form-field>
        <br>
        <mat-label class="text">Re-Enter Password : </mat-label> &nbsp;
        <mat-form-field appearance="outline">
          <input matInput type="password" value="6724345345543">
        </mat-form-field>
        <div fxLayoutAlign="end">
        <mat-card-actions>
          <button mat-raised-button> Save Password </button>
        </mat-card-actions>
      </div>
      </mat-card>
    </div>
  </div>
</div>

<div class="dashboard" style="margin-top: 70px;"
 fxLayoutAlign="space-evenly center" fxLayoutgap="20px">
  <div>
    <mat-card class="card-dashboard-1">
      <mat-card-content>
        <h2> Order Recivied <br> Through Us: <br> <br>10</h2>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="card-dashboard-2">
      <mat-card-content>
        <h2> No of times You<br> were Suggested: <br> <br> 10</h2>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="card-dashboard-3">
      <mat-card-content>
        <h2> Total <br> Opportunities: <br> <br> 10</h2>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="mission" fxLayout="column" fxLayoutAlign="space-evenly center" style="margin-top: 60px;">
  <mat-list>
    <mat-list-item>
      <h1 style="letter-spacing: 4px;"> Our &nbsp; Mission </h1>
      <i id="rocket" class="fas fa-rocket"></i>
    </mat-list-item>
  </mat-list>
  <div fxLayout="column" fxLayoutAlign="space-evenly center" style="margin-top: 40px;">
    <mat-list>
      <mat-list-item class="text-mission">
        <i class="fas fa-dot-circle"></i> &nbsp; &nbsp;
        On length – While many companies favor the one-liner approach.
      </mat-list-item>
      <mat-list-item class="text-mission">
        <i class="fas fa-dot-circle"></i> &nbsp; &nbsp;
        vision and mission statements can be as long as a couple paragraphs.
      </mat-list-item>
      <mat-list-item class="text-mission">
        <i class="fas fa-dot-circle"></i> &nbsp; &nbsp;
        Take Apple’s vision and mission, shared on the Panmore Institute.
      </mat-list-item>
    </mat-list>
  </div>

</div>
