<div fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="80px" style="margin-bottom: 150px;">
  <div>
    <h1>
      Admin Menu Page
    </h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="120px">
    <div>
      <button mat-raised-button routerLink="../user/mobileNo">
        For User Information
      </button>
    </div>
    <div>
      <button mat-raised-button routerLink="../provider">
        For Karigar Information
      </button>
    </div>
    <div>
      <button mat-raised-button>
        For Service Information
      </button>
    </div>
  </div>

</div>
