.container{
  margin-top: 25px;
}

.heading{
  text-align: center;
  letter-spacing: 4px;
  word-spacing: 5px;
}
.btn{
  background-color: blue;
  color: white;
  width: 200px;
  height: 50px;
  font-size: 15px;
  text-align: center;
  letter-spacing: 3px;
  word-spacing: 3px;
}
.text-inexpansion{
  font-size: 15px;
  word-spacing: 2px;
}
.card-outer{
  margin-top: 25px;
  height: auto;
  margin-bottom: 25px;
}
.card-inner{
  margin-top: 60px;
}

.text{
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.spacer{
  margin-left: 250px;
}

.expansion-title{
  letter-spacing: 2px;
  word-spacing: 2px;
}
