.container{
  margin-top: 60px;
}
.card{
  margin-top: 20px;
}
.card-heading{
  margin-top: 10px;
  text-align: center;
  letter-spacing: 4px;
  word-spacing: 4px;
}

.text{
  // margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  word-spacing: 2px;
}

button {
  background-color: red;
  color: white;
  width: 200px;
  height: 50px;
  font-size: 15px;
  text-align: center;
  letter-spacing: 3px;
  word-spacing: 3px;
}

.spinner {
  margin-top: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
