<div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-evenly center"  style="margin-bottom: 150px;">
  <div>
    <h1> To fetch User based info : </h1>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Enter Mobile Number</mat-label>
      <input matInput placeholder="Contact Number" type="tel"
        [(ngModel)]="user.mobileNo" name="mobileNo" #username="ngModel" required>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="70px">
    <button mat-raised-button (click)="searchUser(user.mobileNo)">
      Search User
    </button>
    <button mat-raised-button (click)="deleteUser(user.mobileNo)">
      Delete User
    </button>
  </div>
  <div style="background-color: white; border: 2px solid black;" *ngIf="this.show"  fxLayout="column">
    <mat-list>
      <mat-list-item class="txt-userDetails">
        Name  &nbsp;&nbsp; :&nbsp;&nbsp;  {{ userDetails.name | titlecase}}
      </mat-list-item>
      <mat-list-item class="txt-userDetails">
        Mobile No.  &nbsp;&nbsp; :&nbsp;&nbsp;  {{ userDetails.mobileNo }}
      </mat-list-item>
      <mat-list-item class="txt-userDetails">
        E-Mail  &nbsp;&nbsp; :&nbsp;&nbsp;  {{ userDetails.email }}
      </mat-list-item>
      <mat-list-item class="txt-userDetails">
        City  &nbsp;&nbsp; :&nbsp;&nbsp;  {{ userDetails.city |titlecase}}
      </mat-list-item>
    </mat-list>
  </div>
  <!-- <div>
    <mat-form-field appearance="outline">
      <mat-label>Enter City</mat-label>
      <input matInput placeholder="Enter City" type="text"
        [(ngModel)]="user.city" name="city" #city="ngModel" required>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button (click)="onCity(user.city)">
      Search Users
    </button>
  </div>
  <div>
    <cdk-virtual-scroll-viewport style="height: 300px;" [itemSize]="20">
      <mat-card *cdkVirtualFor="let user of users">
        <mat-card-content style="background-color: white; color: black;">
          Name :  {{ user.name }}
        </mat-card-content>
      </mat-card>
    </cdk-virtual-scroll-viewport>
  </div> -->


  <div>
    <button mat-raised-button routerLink='../main'>
      Go Back
    </button>
  </div>
</div>

<!-- <table>
  <thead>
      <tr>

          <th>Name</th>
          <th>Mobile Number</th>
          <th>Email</th>
          <th>City</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of this.userDetails">
          <th>{{ item.name }}</th>
          <td>{{ item.name }}</td>
          <td>{{ item.email }}</td>
          <td>
              <button type="button" >Delete</button>
          </td>
      </tr>
  </tbody>
</table> -->
