.toolbar {
  background-color: black;
  color: white;
  margin-bottom: 20px;
}

mat-dialog-content{
  height: 500px;
}

.btn{
  margin-top: 20px;
  height: 45px;
  width: 150px;
  font-size: 17px;
  text-align: center;
  background-color: black;
  color: white;
  letter-spacing: 3px;
}

#error_symbol{
  color: red;
}
