.main-heading{
  font-size: 17px;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.sub-heading{
  letter-spacing: 1px;
  word-spacing: 1px;
  font-weight: bold;
}

.btn{
  background-color: black;
  color: white;
  width: 150px;
  height: 40px;
  font-size: 17px;
  text-align: center;
  letter-spacing: 3px;
}

.rating-list mat-list-item.selected {
  color: #ffd700;
}

.star{
  font-size: 25px;
}

.star:active{
  margin: 0px;
  border: 0px;
}
